$on-palm:          600px
$on-laptop:        800px
$on-smallest:      400px


#banner
  background:
    image: url("/assets/img/banner-red.svg")
    size: 1500px
    repeat: no-repeat
    position: 80% 0%
    //color: #032754
    color: #8C0D0D
    attachment: fixed
  color: white

  +media(max-width $on-smallest)
    background-size: 1280px

    h1
      font-size: 40px
    p
      font-size: 16px

.sidebar-mute
  margin: 0 -15px
  padding: 15px
  background-color: $gray-lighter

.footer
  background-color: $gray-darker

.btn-primary
  &:visited
    color: white
